@font-face{
    font-family: Source Code Pro;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    src: url('font/SourceCodePro-ExtraLight.eot') format('embedded-opentype'),
         url('font/SourceCodePro-ExtraLight.ttf.woff2') format('woff2'),
         url('font/SourceCodePro-ExtraLight.otf.woff') format('woff'),
         url('font/SourceCodePro-ExtraLight.otf') format('opentype'),
         url('font/SourceCodePro-ExtraLight.ttf') format('truetype');
}
