.maindiv {
  top: 20px;
  width: 25%;
  height:100%;
  border-top: 4px solid rgba(0,0,0,0.1);
  border-left: 4px solid rgba(0,0,0,0.1);
  border-right: 4px solid rgba(0,0,0,0.1);
  border-bottom: 4px solid rgba(0,0,0,0.1);
  height: 300px;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top: 0;
  bottom: 0;
  padding: 40px 40px 40px 40px;
  background: rgba(0,0,0,0.30);
  color: #FFFFFF;
  align-items:center;
}
.wel {
	text-align:center;
	font-size:46px;
	color:rgba(255,255,255,0.9);
	font-family:Source Code Pro;
}
.learn_more {
  border-radius: 50px;
  background: transparent;
  padding: 10px 50px;
  border: 2px solid #ffffff;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 20px;
  margin-left:auto;
  margin-right:auto;
  text-align:center;
  font-family:"Source Code Pro ExtraLight";
  width:150px;
  -webkit-transition-property: background,color;
          transition-property: background,color;
  -webkit-transition-duration: .4s;
          transition-duration: .4s;
}
.learn_more:focus {
  box-shadow: none;
  outline: none;
}
.learn_more:hover {
	background:#ffffff;
	color:#000000;
	cursor: pointer;
	-webkit-transition-property: background,color;
          transition-property: background,color;
  -webkit-transition-duration: .4s;
          transition-duration: .4s;
}

