.maindiv {
  top: 20px;
  width: 25%;
  height:100%;
  border-top: 4px solid rgba(0,0,0,0.1);
  border-left: 4px solid rgba(0,0,0,0.1);
  border-right: 4px solid rgba(0,0,0,0.1);
  border-bottom: 4px solid rgba(0,0,0,0.1);
  height: 300px;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top: 0;
  bottom: 0;
  padding: 40px 40px 40px 40px;
  background: rgba(0,0,0,0.30);
  color: #FFFFFF;
  align-items:center;
}
.wel {
	text-align:center;
	font-size:36px;
	color:rgba(255,255,255,0.9);
	font-family:Source Code Pro;
}